.App {
  text-align: center;
}
.Background {
  background-color: #000058;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.buttonFormatting{
  align-items:center;
  width: 100%;
}
.ansButtons{
  background-color:white;
  margin-left: 20px;
  margin-top: 20px;
  height: 45px;
  border-radius: 14px;
  border:solid 1px black;
  width:40%;
}
.cardBackground{
  background-color: white;
  border-radius: 25px;
  padding:5vh;
  align-content: center;
  display:flex;
  flex-direction: column;
}
.score{
  padding-top: 20px;
}
@media only screen and (max-width: 768px) {
  .cardBackground{
    margin:12px;
  }
  .ansButtons{
    margin:12px 0 0 0;
    width: 100%;
    height: 60px;
  }
}


